<h1> {{title}} </h1>
<h2>Add missions </h2>
 {{#each errors}}
 <div class="error">
     <p>{{text}}</p>
 </div>
{{/each}}
 <form action="/missions/add" method="POST" class="missionAdd">
    <div class="form-group">
        <label for="name">Name:</label>  
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="desc">Desc:</label>  
        <input type="text" name="description" class="form-control">
    </div>
    <div class="form-group">
        <label for="owners">Owners:</label>  
        <input type="text" name="owners" class="form-control">
    </div>
    <div class="form-group">
        <label for="due">Due:</label>  
        <input type="date" name="due" class="form-control">
    </div>
     <div class="form-group">
        <label for="status">Set Status:</label>  
        <input type="checkbox" name="status" value="1" checked>
    </div>
    <input type="submit" value="AddMission"></button>

</form>
