<h1> {{title}} </h1>
<ul>
{{#each missions}}
    <li>Name: {{dataValues.name}}</li>
    <li>Desc: {{dataValues.description}}</li>
    <a href="/missions/{{dataValues.id}}">Embark</a>
<br>
<hr>
{{/each}}
</ul>
